:root {
  --font-color-dark: rgb(237, 237, 236);
  --font-color-light: rgb(58, 72, 110);
  --background-start-dark: hsl(0, 0%, 4%);
  --background-end-dark: hsl(0, 0%, 5%);

  --border-color-dark: hsl(0, 0%, 20%);
  --shadow-light: hsla(0, 0%, 0%, 0.5);
  --shadow-dark: hsla(0, 0%, 100%, 0.8);
  --emoji-field-dark: rgba(0, 0, 0, 0.293);
  --emoji-field-light: rgba(255, 255, 255, 0.293);
  --radius-height: 6%;
  --radius-width: 9%;
  --background-start-light: hsl(200, 14%, 94%);
  --background-end-light: hsl(50, 23%, 93%);

  --border-color-light: hsl(0, 0%, 75%);
  --top-bar-color-dark: hsla(132, 24%, 16%, 0.5);
  --top-bar-color-light: hsla(0, 0%, 99%, 0.5);
  --chosen-color-dark: hsl(0, 0%, 80%);
  --chosen-color-light: hsl(60, 1%, 17%);

  --card-color-hover-dark: hsl(0, 0%, 12%);
  --card-color-hover-light: hsl(0, 0%, 100%);
}

:root[data-theme='light'] {
  --primary-color: hsl(347, 94%, 45%);
  --secondary-color: hsl(140, 97%, 38%);
  --tertiary-color: hsl(225, 87%, 45%);
  --card-color: hsl(0, 0%, 97%);
  --border-color: var(--border-color-light);
  --background-start: var(--background-start-light);
  --background-end: var(--background-end-light);
  --font-color: rgb(34, 41, 60);
  --top-bar-color: var(--top-bar-color-light);
  --chosen-color: var(--chosen-color-light);
  --card-color-hover: var(--card-color-hover-light);
  --emoji-field: var(--emoji-field-light);
  --accent-color: white;
  --opposite-card-color: hsl(0, 0%, 9%);
  --modal-color: rgba(232, 240, 252, 0.225);
  --modal-border: rgba(255, 255, 255, 0.514);
  --modal-shadow: hsla(0, 0%, 14%, 0.277);
  --card-shadow: 0 0 9px rgba(55, 55, 55, 0.19);
}
:root[data-theme='dark'] {
  --primary-color: hsl(53, 95%, 55%);
  --tertiary-color: hsl(160deg, 100%, 38%);
  --secondary-color: hsl(262, 100%, 63%);
  --card-color: hsl(0, 0%, 9%);
  --border-color: var(--border-color-dark);
  --background-start: var(--background-start-dark);
  --background-end: var(--background-end-dark);
  --font-color: var(--font-color-dark);
  --top-bar-color: hsl(0, 0%, 9%);
  --chosen-color: var(--chosen-color-dark);
  --card-color-hover: var(--card-color-hover-dark);
  --emoji-field: var(--emoji-field-dark);
  --accent-color: black;
  --opposite-card-color: hsl(0, 0%, 97%);
  --modal-color: rgba(67, 63, 63, 0.409);
  --modal-border: rgba(135, 135, 135, 0.132);
  --modal-shadow: rgb(0, 0, 0);

  --card-shadow: 0 0 30px rgba(0, 0, 0, 0.831);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

* {
  margin: 0;
  /* cursor: none !important; */
  font-family: var(--josefin), sans-serif;
}

html,
body {
  overflow: hidden;
  height: 100%;
  background-color: black;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color);
  background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start);
}

a {
  color: inherit;
  text-decoration: none;
}
